table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

.delete-button {
    color: red;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #bf3030;
    background-color: white;
    border-radius: 3px;
}

.delete-button:hover {
    background-color: #bf3030;
    color: white;
}
.add-button {
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
}

 /* Настройка ширины текстовых полей */
.small-input {
    width: 200px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-container {
    display: none;
    position: absolute;
    right: 20px;
    top: 50px;
    width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Выравнивание полей формы */
.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input,
.form-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Стили для кнопок формы */
.form-container button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.form-container button:hover {
    background-color: darkgreen;
}

/* Стили для кнопки Отмена */
.form-container .cancel-button {
    background-color:  #bf3030;
}

.form-container .cancel-button:hover {
    background-color: #a60000;
}
/* Стили для кнопок навигации */
.nav-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #bf3030;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 20px;
}

.nav-button:hover {
    background-color: #a60000;
    text-decoration: none;
}

/* Стили для контейнера сообщений */
.messages-container {
    margin-bottom: 20px;
}

/* Стили для сообщения */
.message-box {
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
}

/* Сообщения об ошибке */
.message-box.error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

/* Сообщения об успехе */
.message-box.success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

/* Кнопка для закрытия сообщения */
.close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.close-button:hover {
    color: #000;
}

/* Стили для формы добавления заявки*/

.form-request-add {
    position: absolute;
    width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Выравнивание полей формы */
.form-request-add label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-request-add textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-request-add select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Стили для кнопок формы */
.form-request-add button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.form-request-add button:hover {
    background-color: darkgreen;
}

