<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>

<header>
    <h3>Навигация: </h3>
    <a href="{% url 'user_list' %}" class="nav-button">Пользователи</a>
    <a href="{% url 'department_list' %}" class="nav-button">Отделы</a>
    <a href="{% url 'category_list' %}" class="nav-button">Категории</a>
    <a href="{% url 'subcategory_list' %}" class="nav-button">Подкатегории</a>
    <a href="{% url 'request_list' %}" class="nav-button">Заявки</a>
    <a href="{% url 'request_creator' %}" class="nav-button">Создать заявку</a>
    <a href="{% url 'plot_histograms' %}" class="nav-button">Гистограмма</a>
</header>

<div class="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>