{% extends 'base.html' %}

{% block title %}Отделы{% endblock %}

{% block content %}

<h1>Отделы</h1>

{% if messages %}
<div class="messages-container">
    {% for message in messages %}
    <div class="message-box {% if message.tags %}{{ message.tags }}{% endif %}">
        <span>{{ message }}</span>
        <button class="close-button" onclick="this.parentElement.style.display='none';">&times;</button>
    </div>
    {% endfor %}
</div>
{% endif %}
<script>
     function showForm() {
        var form = document.getElementById("addDepartmentForm");
        if (form.style.display === "none" || form.style.display === "") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }


</script>

<!-- Форма для добавления отдела (скрыта по умолчанию) -->
<div id="addDepartmentForm" class="form-container">
    <h2>Добавить отдел</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
        <button type="button" class="cancel-button" onclick="showForm()">Отмена</button>
    </form>
</div>
<table>
    <tr>
        <th>Название отдела</th>
        <th>
            <button class="add-button" onclick="showForm()">+</button>
        </th>
    </tr>
    {% for department in departments %}
    <tr>
        <td>{{ department.name }}</td>
        <td>
            <!-- Кнопка для удаления отдела -->
            <a href="{% url 'delete_department' department.id %}" class="delete-button"
               onclick="return confirm('Вы уверены, что хотите удалить этот отдел?');">
                Удалить
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}