{% extends 'base.html' %}

{% block title %}Графики{% endblock %}

{% block content %}
<h1>Гистограмма распределения количества заявок по месяцам</h1>
<img src="data:image/png;base64,{{ hist_image }}" alt="Гистограмма">

<h1>QQ график количества заявок по месяцам</h1>
<img src="data:image/png;base64,{{ qq_image }}" alt="QQ">

<h1>Матрица корреляции</h1>
<img src="data:image/png;base64,{{ matrix_image }}" alt="Матрица корреляции">

<h1>Полином первого порядка</h1>
<img src="data:image/png;base64,{{ polynom_1 }}" alt="Полином первого порядка">

<h1>Полином второго порядка</h1>
<img src="data:image/png;base64,{{ polynom_2 }}" alt="Полином второго порядка">

<h1>Полином третьего порядка</h1>
<img src="data:image/png;base64,{{ polynom_3 }}" alt="Полином третьего порядка">

<h1>Полином четвертого порядка</h1>
<img src="data:image/png;base64,{{ polynom_4 }}" alt="Полином четвертого порядка">

<h1>Полином пятого порядка</h1>
<img src="data:image/png;base64,{{ polynom_5 }}" alt="Полином пятого порядка">

{% endblock %}